{% extends 'base.html' %}



{% block content %}


<div class="messages">
    {% for message in messages %}
        <strong><i class="message">{{message}}</i></strong>
    {% endfor %}
</div>

<div class="login-form">
    <h2>Login Here</h2>
    <form action="/signin" method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your username here" required>
        <br><br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password here" required>
        <br><br>
        <button type="submit" class="btn">Sign In</button>
        <a href="{% url 'password_reset' %}">mot de passe oublier ?</a>
    </form>
</div>

{% endblock %}
